<!DOCTYPE html>
<html>
<head>

  <title>Start or Sit</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <%= javascript_include_tag 'application' %>



  <%= csrf_meta_tags %>

</head>
<body>


  <div ng-app="app">


  <div class="container">


<div ng-include="'nav/_nav.html'"></div>

<div class="jumbotron">
<%= yield %>
</div>

 <% flash.each do |key, value| %>
 <% binding.pry %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>
</div>
</div>
</body>
</html>
