<!DOCTYPE html>
<html>
<head>

  <title>Start or Sit</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>

</head>
<body>
<div id="header">
<h1>Start or Sit</h1>

</div>
  <div ng-app="app">
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 



<br>
<%= yield %>
</div>
 <% flash.each do |key, value| %>
 <% binding.pry %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>

</body>
</html>
